* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("./fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.navbar {
  height: 94px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s;
}

.navbar-light {
  background: #fafbfc;
  color: #292d33;
}

.header {
  min-height: 100vh;
  padding-top: 94px;
}

.header-image {
  background-image: url(../images/background/background_photo_main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-logo {
  padding: 25px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}

.header-nav-link {
  margin-right: 50px;
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.header-phone {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.button {
  display: inline-block;
  align-items: center;
  padding: 25px 60px;
  background: #3a71d1;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  border: none;
  cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
}

.header-button {
  height: 100%;
}

.separater {
  width: 150px;
  height: 2px;
  background: #5c8ee5;
}

.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-title {
  max-width: 1080px;
  font-family: "Bebas Neue Book", sans-serif;
  font-size: 80px;
  line-height: 120%;
  margin: 30px 0;
}

.header-text {
  max-width: 720px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 50px;
}

.header-features {
  display: flex;
  min-height: 168px;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  color: #fff;
  position: relative;
}

.header-features-item {
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-feature-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.section {
  margin-top: 150px;
  margin-bottom: 150px;
}

.section-title {
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 400;
  line-height: 160%;
  color: #292d33;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
}

.steps-item {
  max-width: 330px;
}

.steps-num {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue Book", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  color: #5c8ee5;
}

.steps-num::after {
  content: "";
  width: 260px;
  height: 1px;
  margin-left: 30px;
  background: #ebebf0;
}

.steps-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 160%;
  color: #292d33;
}

.steps-text {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #828a99;
}

.steps-link {
  display: flex;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: #5c8ee5;
  text-decoration: none;
}

.steps-link::before {
  content: "";
  width: 40px;
  height: 1px;
  margin-right: 12px;
  background: #5c8ee5;
}
