* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("./fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.mobile-menu {
  display: none;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.navbar {
  height: 5.875rem;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  height: 4.625rem;
  background: #fafbfc;
  color: #292d33;
}

.phone_icon {
  fill: #5c8ee6;
}

.aliance_logo-main .aliance_logo-main {
  width: 9rem;
  height: 2.75rem;
}

.aliance_logo-main {
  display: none;
}

.header {
  min-height: 100vh;
  padding-top: 5.875rem;
}

.header-image {
  background-image: url(../images/background/background_photo_main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -3.4375rem;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  height: 100%;
  align-items: center;
  padding-left: 3.125rem;
  margin: 0;
}

.header-nav-item {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-nav-item:not(:last-child) {
  margin-right: 5%;
}

.header-nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  /* border-bottom: 2px solid rgba(41, 45, 51, 0); hover approach example*/
  position: relative; /* alternative hover approach*/
}

/* .header-nav-link:hover {
  border-bottom: 2px solid #5c8ee5;
} hover aproach example*/

.header-nav-link:after {
  /* alternative hover approach*/
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee6;
  transition: width 0.2s;
  right: 0;
  left: auto;
}

.header-nav-link:hover::after {
  /* alternative hover approach*/
  border-bottom: 2px solid #5c8ee5;
  width: 100%;
  right: auto;
  left: 0;
}

.header-phone {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 0.625rem;
  margin-right: 3.125rem;
  margin-left: 3.125rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.button {
  display: inline-block;
  align-items: center;
  padding: 1.5625rem 3.75rem;
  background: #3a71d1;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  border: none;
  cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 3.125rem;
}

.navbar-button .button_icon {
  display: none;
}

.header-button {
  height: 100%;
  padding: 1.625rem 3.75rem;
}

.separater {
  width: 9.375rem;
  height: 2px;
  background: #5c8ee5;
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-title {
  margin: 1.875rem 0;
  max-width: 67.5rem;
  font-size: 5rem;
  line-height: 120%;
  font-family: "Bebas Neue Book", sans-serif;
  letter-spacing: 0.8px;
  word-spacing: -1.6px;
}

.header-text {
  max-width: 45rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 3.125rem;
}

.header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
}

.header-features-item {
  width: 18rem;
  height: 100%;
  min-height: 100%;
  padding: 1.75rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.slider-buttons {
  display: none;
  height: 44px;
}

.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* .header-features-item:not(:last-child) {
  border-right: none;
} */

.header-feature-text {
  margin-top: 1.125rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}

.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}

.section-title {
  font-family: "Bebas Neue Book", sans-serif;
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 120%;
  color: #292d33;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  /* gap: 1.875rem; it conflicted swiper plugin*/
}

/* .steps-item { */
/* max-width: 20.625rem; it conflicted swiper plugin*/
/* } */

.steps-num {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue Book", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  color: #5c8ee5;
}

.steps-num::after {
  content: "";
  width: 16.25rem;
  height: 1px;
  margin-left: 1.875rem;
  background: #ebebf0;
}

.steps-title {
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  padding-right: 0.7rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  color: #292d33;
}

.steps-text {
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  padding-right: 0.7rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #828a99;
}

.steps-link {
  display: flex;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  color: #5c8ee6;
  text-decoration: none;
}

.steps-link::before {
  content: "";
  width: 40px;
  height: 1px;
  margin-right: 0.75rem;
  background: #5c8ee5;
}

.steps-link:hover::before {
  width: 60px;
  transition: width 0.2s;
}

.steps-buttons {
  display: none;
  justify-content: flex-end;
  height: 40px;
}

.steps-button-prev,
.steps-button-next {
  background: #5c8ee6;
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  /* flex-basis: 33%; this approach does not work well at some resolutions */
  border: 1px solid #ebebf0;
  /* position: relative; this approach does not work well at some resolutions */
  text-decoration: none;
  transition: border 0.5s;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 30rem;
}

.brand-card {
  display: flex;
  flex-direction: row;
  width: 45rem;
}

.card:hover .card-title {
  color: #5c8ee6;
}

.card:hover {
  border-color: #5c8ee6;
}

.card-content {
  /* width: 29rem; */
  padding: 2.5rem 3.125rem;
}

.card-title {
  font-family: "Noto Sans";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 10px;
  transition: color 0.5s;
}

.card-text {
  font-family: "Noto Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #828a99;
  /* margin-bottom: 19rem; this approach does not work well at some resolutions */
}

.card-product_image {
  height: 20rem;
  width: 25rem;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; this approach does not work well at some resolutions*/
  align-self: flex-end;
}

.card-brand_image {
  height: 8.75rem;
  align-self: center;
}

@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 2rem;
  }
  .header-svg {
    max-width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-phone {
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .slider-buttons {
    display: flex;
  }
  .navbar {
    height: 5.8rem;
  }
}

@media (max-width: 1240px) {
  .container {
    max-width: 65rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1300px) {
  .steps-buttons {
    display: flex;
  }
}

@media (max-width: 928px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .aliance_logo-light .aliance_logo-main {
    max-width: 10rem;
  }

  .navbar-button {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }

  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }

  .navbar-light .mobile-menu-line {
    background-color: #333;
  }

  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button_icon {
    display: block;
    fill: #ffffff;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu {
    list-style-type: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    color: #828a99;
    font-size: 14px;
    line-height: 160%;
  }
  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #292d33;
    text-decoration-line: underline;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 40rem;
  }
  .header-title {
    font-size: 4rem;
  }
  .header-text {
    font-size: 1rem;
  }
  .header-content {
    padding-top: 4rem;
  }

  /* .card {
    flex-basis: 100%;
  } this approach does not work well at some resolutions*/
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
}
